body {
    margin: 0;
    padding: 0;
}
.spase {
    width: 1px;
    height: 1px;
    margin: 9px;
}

// * {
//     border: 1px solid red;
// }

// .clearfix:after {
//     content: '';
//     display: table;
//     width: 100%;
//     clear: both;
// }

h4 {
    margin-bottom: 5px;
}

header {
    height: 70px;
}

.container {
    width: 1160px;
    margin: 0 auto;
}


.logo_emblema {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
    margin: 15px 0;
    border: solid 2px transparent;
    box-shadow: 2px 1000px 1px #fff inset;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-origin: border-box;
}

.menu a {    
    margin: 15px 0;
    margin-left: 20px;
}

.button {
    margin: 15px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;   
    border-radius: 17px; 
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    float: right;    
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);    
    color: white;
}

.button:active {
    padding: 8px 18px;
    color: #BC9CFF;  
    border: solid 2px transparent;
    box-shadow: 2px 1000px 1px #fff inset;
    background-origin: border-box;
}


nav {
    float: right;
    margin-top: 22px;
    margin-right: 20px;
}

.menuList {
    padding: 0;
    margin: 0;
    display: block;
}

.menuList li {    
    height: 18px;
    float: left;
    display: block;
}

.menuList li a {
    width: auto;
    color: rgba(31, 32, 65, 0.5);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;  
    white-space: pre;
}

.menuList li a:hover { 
    font-weight: bold;
}

input::-moz-placeholder { color: rgba(31, 32, 65, 0.25); }
input::-webkit-input-placeholder { color: rgba(31, 32, 65, 0.25); }
input:-ms-input-placeholder { color: rgba(31, 32, 65, 0.25); }
input::-ms-input-placeholder { color: rgba(31, 32, 65, 0.25); }
input::placeholder { color: rgba(31, 32, 65, 0.25); }

.inputEmailBox {
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    color: rgba(31, 32, 65, 0.75);   
    outline: none;
    padding-left: 15px;
    padding-top: 10px;
}

.inputEmailBox:focus, .inputEmailBox:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
}

.inputEmail {
    border:#FFFFFF;
    outline:none;    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    width: 250px;
}

.arrow {
    width: 8px;
    height: 8px;
    border-top: 2px solid rgba(31, 32, 65, 0.5);
    border-right: 2px solid rgba(31, 32, 65, 0.5);
    margin-right: 1px;
    margin-top: 3px;
}    

.arrow-bottom {
    transform: rotate(135deg); 
    float: right;
}  

.arrow_full {
  width: 10px;
    height: 10px;
    border-top: 1px solid rgba(31, 32, 65, 0.5);
    border-right: 1px solid rgba(31, 32, 65, 0.5);
    background-color: #fff;
    background-image: linear-gradient(to bottom right, transparent 45%, rgba(31, 32, 65, 0.5), transparent 55%);
    background-repeat: no-repeat;
    font-size: 50px;
    transform: rotate(45deg); 
    float: right;
  }

.formNumOfGuests {
    width: 320px;
    height: 176px;
    background-color: yellowgreen;
}

.numberOfGuests {
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);   
    outline: none;
    padding-left: 15px;
    content: 'Количество гостей';
    margin-bottom: 50px;
}

.numberOfGuests:focus, .numberOfGuests:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
}

.arrowTwo {
    position: relative;
    width: 10px;
    height: 2px;
    background-color: rgba(31, 32, 65);
}
.arrowTwo::before {
    position: absolute;
    left: 3px;
    top: -3px;
    width: 10px;
    height: 2px;
    background-color: rgba(31, 32, 65);
    content: '';
    display: block;
    transform: rotate(45deg);
}

.arrowTwo::after {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 10px;
    height: 2px;
    background-color: rgba(31, 32, 65);
    content: '';
    display: block;
    transform: rotate(-45deg);
}

.buttonArr {
    margin-top: 7px;
    margin-left: 30px;
    margin-right: 0;
    background-color:#fff;
    float: right;
}

.buttonArr::before, .buttonArr::after{
    background-color:#fff;
}

.emailArr {
    margin-top: 10px;
    margin-right: 15px;
    background-color:#BC9CFF;
    float: right;
}

.emailArr::before, .emailArr::after{
    background-color:#BC9CFF;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;     
  
    & + label {
      position: relative;
      width: 192px;
      padding: 0;      
      color: rgba(31, 32, 65, 0.5);
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      white-space: pre;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 4px;
    }
    
    &:checked + label:before {
      border: 1px solid rgb(188, 156, 255);
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      //box-shadow: none;
      background: #ddd;
    }
  
  &:checked + label:after {
      content: '';
      position: absolute;
      left: 7px;
      top: 5px;
      width: 5px;
      height: 8px;
      border-bottom: 2px solid transparent;    
      border-right: 2px solid transparent;
      border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-image-slice: 1;  
      transform: rotate(45deg);
    }
  }
  
  .radioButton {
    position: absolute;
    opacity: 0; 
  
    & + label {
      position: relative;
      width: 192px;
      padding: 0;      
      color: rgba(31, 32, 65, 0.5);
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      white-space: pre;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 50%;
    }
    
    &:checked + label:before {
      border: 1px solid rgb(188, 156, 255);
    }
    
    // Disabled state label.
    &:disabled + label {
      color: rgba(31, 32, 65, 0.25);;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      //box-shadow: none;
      background: #ddd;
    }
  
  &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }

  .toggle {
    position: absolute;
    opacity: 0; 
  
    & + label {
      position: relative;
      width: 192px;
      padding: 0;      
      color: rgba(31, 32, 65, 0.5);
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 40px;
      height: 20px;
      background: white;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 10px;            
    }

    & + label::after {
      content: '';
      position: absolute;
      left: 5px;
      top: 4px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: rgba(31, 32, 65, 0.25);
      transition: .4s;
    }
    
    &:checked + label:before {
      border: 1px solid rgb(188, 156, 255);     
      
    }
    
    // Disabled state label.
    // &:disabled + label {
    //   color: rgba(31, 32, 65, 0.25);
    //   cursor: auto;
    // }
  
    // Disabled box.
    // &:disabled + label:before {
    //     //box-shadow: none;
    //   background: #ddd;
    // }
  
  &:checked + label:after {
      content: '';
      position: absolute;
      left: 22px;
      top: 4px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      transition: .4s;
    }
  }